

/* html {
	 color: rgba(255, 255, 255, 0); 
} */


#wrap {
    text-align: center;
	margin-top: 1%;
	background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0.9);
    font-size: 120%;

}


/* h1{
	font-size: 300%;
	text-align: center;
} */